{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{%block titulo%}Plantilla{%endblock%}</title>
    <link rel="stylesheet" href="{% static 'css/navbar.css'%}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body>

    <nav>
        <div class="navicon">
            <div></div>
        </div>
        <a href="{% url 'Registros' %}">Home</a>
        <a href="{% url 'About' %}">About</a>
        <a href="{% url 'Contacto' %}">Contacto</a>
        <a href="http://127.0.0.1:8000/admin" target="_blank">Registro M.</a>
        <a href="{% url 'Principal' %}">Sleep</a>
        <div class="animation start-home"></div>
    </nav>



    {%block contenido%} {% comment %} Contenido Templates {% endcomment %} {%endblock%}
    <br><br><br><br><br><br><br><br><br>


    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>